@media print, screen {
  section {
    margin: 0;
    page-break-inside: avoid;
  
    .title {
      padding: 10px 5px;
      color: white;
      margin: 0;
      font-weight: 900;
      font-size: 18px;
    }
    
    .compartmentTitle {
      background-color: #4472c4;
    }
    
    .sectionTitle {
      background-color: #8eaadb;
    }

    .materialList {
      margin: 10px 0;
    }

    .sectionImg {
      width: 100%;
      height: auto;
    }
  }
}
