@import "../../../styles/colors.scss";

.btn-header {
  display: flex;
  justify-content: space-between;

  .action-group > * {
    margin-left: 10px;
  }
}

.radio-group {
  margin-bottom: 24px;
}

.section {
  margin-bottom: 24px;
}

// Colors for radiogroup
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled),
.ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
  border-right: var(--color-primary);
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: var(--color-primary);
}

.ant-radio-button-wrapper:hover {
  color: var(--color-primary);
}

// Border for radiogroup
.ant-radio-button-wrapper:last-child {
  border-radius: 0 10px 10px 0;
}

.ant-radio-button-wrapper:first-child {
  border-radius: 10px 0 0 10px;
}
