@import "~antd/dist/antd.css";
@import "./styles/container.scss";
@import "./styles/colors.scss";

@media print {
  @page { margin: 0; }
  body {
    margin: 1.6cm;
  }

  .no-print, .no-print * {
    display: none !important;
  }

  .ant-layout {
    background-color: white !important;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-print-color-adjust: exact !important;

  font-size: 16px;
  color: var(--text-primary)
}

.ant-btn-primary {
  color: #fff;
  border-color: var(--color-primary);
  background: var(--color-primary);
}

.ant-picker, .ant-btn-primary, .ant-select-selector, .ant-input {
  border-radius: 10px !important;
}
